
<%= form_with(model: @group) do |form| %>
<div class="flex flex-col h-screen items-center">
    <div
      class="flex items-center justify-between p-6 bg-sky-600 w-full text-white"
    >
      <div class="flex-1">
        <a href="<%= groups_path %>">
        <box-icon name="arrow-back" color="white"></box-icon>
      </a>
      </div>
      <div class="flex-1 flex justify-center"><h4>NEW CATEGORY</h4></div>
      <div class="flex-1 flex justify-end">
        <%= form.submit "Add Category", class:'text-white text-sm
        hover:text-gray-100 transition duration-300 ease-in-out' %>
      </div>
    </div>
    <div
    class="bg-white mt-6 w-full border-y-2 border-gray-100 divide-y-2 divide-gray-100 pl-4"
  >
    <div class="field">
      <%= form.text_field :name, autofocus: true, placeholder:'Name', class:'form-control block w-full py-4
      placeholder:text-gray-300 focus:text-gray-700 focus:bg-white
      focus:border-blue-600 focus:outline-none ' %>
    </div>
    <div class="field">
      <%= form.text_field :icon,placeholder:'Icon [Name initials eg: Y, NO, P]', class:'form-control block w-full py-4
      placeholder:text-gray-300 focus:text-gray-700 focus:bg-white
      focus:border-blue-600 focus:outline-none' %>
    </div>
    <div class="field">
      <%= form.text_field :color ,placeholder:'Color [eg: yellow, red, green, ....]', class:'form-control block w-full py-4
      placeholder:text-gray-300 focus:text-gray-700 focus:bg-white
      focus:border-blue-600 focus:outline-none' %>
    </div>
  </div>
    <% if @group.errors.any? %>
    <div style="color: red">
      <h2>
        <%= pluralize(@group.errors.count, "error") %> prohibited this group
        from being saved:
      </h2>

      <ul>
        <% @group.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<br />

<div><%= link_to "Back to groups", groups_path %></div>
